@charset 'utf-8';
/*内容*/
article {
	width: 100%;
	margin: 0;
	padding: 20px 0;
}
article h2 {
	position: fixed;
	top: 10px;
	left: 250px;
	font-size: 2.6rem;
	font-weight: normal;
	z-index: 1300;
}
article h3 {
	width: 100%;
	margin: 20px 0;
	padding: 5px 0 3px;
	background: #888888;
	background: #cc0000; /* Old browsers */
	background: -moz-linear-gradient(top, #cc0000 0%, #cc0000 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #cc0000 0%, #cc0000 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #cc0000 0%, #cc0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#cc0000', GradientType=0 ); /* IE6-9 */
	color: #fff;
	text-align: center;
	font-weight: normal;
	font-size: 2.4rem;
}
article h4 {
	font-size: 2.2rem;
	font-weight: normal;
	margin: 20px 0;
	border-bottom: solid 3px #000;
}
article h5 {
	font-size: 2rem;
	font-weight: normal;
	margin: 20px 0;
}
section {
	margin: 0 auto;
	width: 80%;
	font-size: 2rem;
}
section ol li {
	list-style-type: decimal;
	margin-left: 3rem;
}
section .cnt {
	list-style-type: none;
	list-style-position: inside;
	counter-increment: cnt;
	margin: 0;
}
section .cnt:before {
	display: marker;
	content: "(" counter(cnt) ")"; /*括弧*/
}
section .roman {
	list-style-type: lower-roman;
	margin-left: 6rem;
}
.list1 {
	padding-left: 2rem;
	text-indent: -2.7rem;
}
.list1:before {
	padding: 0 1rem;
	font-family: "FontAwesome";
	content: "\f105";
	font-size: 2.5rem;
}
.list1 ul li {
	padding-left: 2rem;
	text-indent: 0;
}

.clearfix:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
}
/*定義リスト*/
.definition_list {
	font-size: 2rem;
}
.definition_list dl {
	padding: 15px 0;
	border-bottom: 1px solid #dcdcdc;
}
.definition_list dl dt {
	width: 30%;
	float: left;
}
.definition_list dl dd {
	width: 68%;
	float: right;
}
/*フッターの内容*/
.footerlink {
	position: absolute;
	top: 15px;
	left: 50px;
}
.footerlink li a {
	color: #ddd;
	padding: 0;
	text-decoration: none;
	font-size: 1.2rem;
}
.footerlink a:hover {
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	opacity: 0.5;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
}
.copyright { /*著作権表示*/
	position: absolute;
	bottom: 10px;
	right: 10px;
	margin: 0;
	font-size: 1.2rem;
	color: #999;
	height: 20px;
	line-height: 20px;
}
/*トップページ右サイド*/
.rightside p {
	margin: 0;
	padding: 20px 0;
	text-align: center;
	font-size: 1.5rem;
}
.right_box {
	padding: 10px 0;
}
.right_box a {
	display: block;
	width: 100%;
	height: 60px;
	line-height: 60px;
	border: solid 1px #ddd;
	background: #fff;
	text-align: left;
	font-weight: normal;
	font-size: 1.5rem;
	text-decoration: none;
	color: #333;
}
.service1:before {
	padding: 0 10px;
	font-family: "FontAwesome";
	content: "\f183";
}
.service2:before {
	padding: 0 10px;
	font-family: "FontAwesome";
	content: "\f0f6";
}
.service3:before {
	padding: 0 10px;
	font-family: "FontAwesome";
	content: "\f006";
}
.right_box a:hover {
	color: #fff;
	text-decoration: none;
	background: #888888;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg4ODg4OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2NjY2NjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #888888 0%, #666666 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #888888), color-stop(100%, #666666));
	background: -webkit-linear-gradient(top, #888888 0%, #666666 100%);
	background: -o-linear-gradient(top, #888888 0%, #666666 100%);
	background: -ms-linear-gradient(top, #888888 0%, #666666 100%);
	background: linear-gradient(to bottom, #888888 0%, #666666 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#888888', endColorstr='#666666', GradientType=0 );
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}
/*商品詳細*/
.pd-list {
	height: 300px;
	margin-bottom: 20px;
	text-align: left;
}
.pd_name {
	padding-bottom: 20px;
	font-size: 2rem;
}
.pd_name_goods {
	padding-bottom: 20px;
	font-size: 2rem !important;
}
.pd_img {
	width: 25%;
	display: inline-block;
	vertical-align: top;
	padding: 0 10px 0 0;
}
.pd_img img {
	width: 100%;
}
.pd_list1 {
	width: 35%;
	display: inline-block;
	vertical-align: top;
	padding: 0;
}
.pd_list2 {
	width: 35%;
	display: inline-block;
	vertical-align: top;
	padding: 0 0 0 10px;
}
.pd_list1_goods {
	width: 55%;
	display: inline-block;
	vertical-align: top;
	padding: 0;
}
.pd_list2_goods {
	width: 15%;
	display: inline-block;
	vertical-align: top;
	padding: 0 0 0 10px;
}
.pd_list1 p, .pd_list2 p, .pd_list1_goods p {
	font-size: 1.5rem;
}
.pd_list1 li, .pd_list2 li, .pd_list1_goods li, .pd_list2_goods li {
	margin-left: 15px;
	font-size: 1.5rem;
}
.goods_basic_info li {
	margin-left: 15px;
	font-size: 1.5rem !important;
}
.pd_hr { /*水平線*/
	margin: 20px 0;
	border: 0;
	height: 1px;
	background: #333;
	background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
	background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
	background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
	background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}
/*価格*/
.price {
	color: #ff0000;
	font-size: 2rem;
	font-weight: bold;
}
/*カートボタン*/
.cart {
	width: 200px;
	margin: 20px 0;
	padding: 5px 0 7px;
	border-radius: 5px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #ff8400), color-stop(1.00, #cd0000));
	background: -webkit-linear-gradient(#ff8400, #cd0000);
	background: -moz-linear-gradient(#ff8400, #cd0000);
	background: -o-linear-gradient(#ff8400, #cd0000);
	background: -ms-linear-gradient(#ff8400, #cd0000);
	background: linear-gradient(#ff8400, #cd0000);
	font-size: 2rem;
	color: #fff;
	text-align: center;
}
.cart a {
	color: #fff;
	text-decoration: none;
}
.cart:hover {
	text-decoration: none;
	opacity: 0.8;
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	cursor: pointer;
}
/*map設定*/
.gmap {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
.gmap iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/*動画*/
.video_wrap video {
	width: 100%;
	display: block;
}
/*アフィリエイト */
.affi2 {
	display: none;
}
/*ページトップに戻る*/
.topcontrol {
	color: #777;
	font-size: 4rem;
}
.topcontrol:hover {
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	opacity: 0.5;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
}

@media screen and (max-width: 320px) {
section {
	width: 100% !important;
}
}

@media screen and (max-width: 768px) {
article {
	padding: 10px;
}
article h2 {
	position: static;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 1.5rem;
	background: #cc0000; /* Old browsers */
	background: -moz-linear-gradient(top, #cc0000 0%, #cc0000 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #cc0000 0%, #cc0000 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #cc0000 0%, #cc0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#cc0000', GradientType=0 ); /* IE6-9 */
	color: #fff;
}
article h3 {
	font-size: 1.5rem;
	margin: 0 0 20px;
	background: none;
	color: #333;
	border-bottom: solid 2px #aaa;
}
article h4, article h5, article li, article p {
	font-size: 1.5rem;
}
section {
	width: 95%;
}
/*フッターの内容*/
.footerlink {
	top: 5px;
	left: 5px;
}
.footerlink li {
	line-height: 20px;
}
/*著作権表示*/
.copyright {
	bottom: 5px;
	right: 5px;
}
/*定義リスト*/
.definition_list {
	font-size: 1.5rem;
}
.definition_list dl dt {
	position: static;
	width: 100%;
	float: none;
	padding: 0;
}
.definition_list dl dd {
	width: 100%;
	float: none;
}
/*商品詳細*/
.pd_img, .pd_list1, .pd_list2, .pd_list1_goods, .pd_list2_goods {
	width: 100%;
	padding: 0;
}
.pd_name {
	font-size: 1.5rem;
}
.pd_img {
	margin-bottom: 10px;
	padding: 0;
}
.pd_img img {
	width: 70%;
	display: block;
	margin: 0 auto;
}
/*アフィリエイト */
.affi1 {
	display: none;
}
.affi2 {
	display: block;
}
/*ページトップに戻る*/
.topcontrol {
	bottom: 30px !important;
	font-size: 2rem;
}
}

@media screen and (min-width: 769px) and (max-width: 1280px) {
section {
	margin: 0 auto;
	width: 90%;
}
/*商品詳細*/
.pd_img {
	width: 40%;
}
.pd_list1 {
	width: 28%;
}
.pd_list2 {
	width: 28%;
}
.zoomWindow {
	width: 300px !important;
	height: 300px !important;
}
/*アフィリエイト */
.affi2 {
	display: block;
}
}
